<h4>Agregar nuevo usuario</h4>
<div>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>
      <input value="" id="name" type="text" class="validate">
      <label class="active" for="name">Nombre de usuario</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">email</i>
      <input value="" id="email" type="text" class="validate">
      <label class="active" for="email">Correo</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">vpn_key</i>
      <input value="" id="contraseña" type="password" class="validate">
      <label class="active" for="contraseña">Contraseña</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">perm_contact_calendar</i>
      <input type="date" class="datepicker" id="fecha">
      <label class="active" for="fecha">Fecha de Nacimiento</label>
    </div>
  </div>

  <div class="row">
    <form action="#">
      <div class="file-field col s6">
        <div class="btn purple">
          <input type="file">
          <span>Foto</span>
        </div>
        <div class="file-path-wrapper ">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </form>
  </div>
</div>